In [ ]:
import pandas as pd
import pylab as pl
import numpy as np
import scipy.optimize as opt
from sklearn import preprocessing
%matplotlib inline 
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-ML0101EN-SkillsNetwork/labs/Module%203/data/ChurnData.csv")
display(df)

,tenure,age,address,income,ed,employ,equip,callcard,wireless,longmon,...,pager,internet,callwait,confer,ebill,loglong,logtoll,lninc,custcat,churn
0,11.0,33.0,7.0,136.0,5.0,5.0,0.0,1.0,1.0,4.40,...,1.0,0.0,1.0,1.0,0.0,1.482,3.033,4.913,4.0,1.0
1,33.0,33.0,12.0,33.0,2.0,0.0,0.0,0.0,0.0,9.45,...,0.0,0.0,0.0,0.0,0.0,2.246,3.240,3.497,1.0,1.0
2,23.0,30.0,9.0,30.0,1.0,2.0,0.0,0.0,0.0,6.30,...,0.0,0.0,0.0,1.0,0.0,1.841,3.240,3.401,3.0,0.0
3,38.0,35.0,5.0,76.0,2.0,10.0,1.0,1.0,1.0,6.05,...,1.0,1.0,1.0,1.0,1.0,1.800,3.807,4.331,4.0,0.0
4,7.0,35.0,14.0,80.0,2.0,15.0,0.0,1.0,0.0,7.10,...,0.0,0.0,1.0,1.0,0.0,1.960,3.091,4.382,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,55.0,44.0,24.0,83.0,1.0,23.0,0.0,1.0,0.0,17.35,...,0.0,0.0,0.0,1.0,0.0,2.854,3.199,4.419,3.0,0.0
196,34.0,23.0,3.0,24.0,1.0,7.0,0.0,1.0,0.0,6.00,...,0.0,0.0,1.0,1.0,0.0,1.792,3.332,3.178,3.0,0.0
197,6.0,32.0,10.0,47.0,1.0,10.0,0.0,1.0,0.0,3.85,...,0.0,0.0,1.0,1.0,0.0,1.348,3.168,3.850,3.0,0.0
198,24.0,30.0,0.0,25.0,4.0,5.0,0.0,1.0,1.0,8.70,...,1.0,1.0,1.0,1.0,1.0,2.163,3.866,3.219,4.0,1.0
199,61.0,50.0,16.0,190.0,2.0,22.0,1.0,1.0,1.0,16.85,...,0.0,1.0,0.0,0.0,1.0,2.824,3.240,5.247,2.0,0.0

In [ ]:
dff=df[["ed","employ","equip","callcard","cardten"]]
display(dff)
X = np.asanyarray(dff[["ed","employ","equip","callcard","cardten"]])
X[0:5]
y = np.asanyarray(df['churn'])
y [0:5]

      ed  employ  equip  callcard  cardten
0    5.0     5.0    0.0       1.0    125.0
1    2.0     0.0    0.0       0.0      0.0
2    1.0     2.0    0.0       0.0      0.0
3    2.0    10.0    1.0       1.0    880.0
4    2.0    15.0    0.0       1.0    145.0
..   ...     ...    ...       ...      ...
195  1.0    23.0    0.0       1.0    720.0
196  1.0     7.0    0.0       1.0    435.0
197  1.0    10.0    0.0       1.0     80.0
198  4.0     5.0    0.0       1.0    780.0
199  2.0    22.0    1.0       1.0   1600.0

[200 rows x 5 columns]

array([1., 1., 0., 0., 0.])

In [ ]:
from sklearn import preprocessing
X = preprocessing.StandardScaler().fit(X).transform(X)
X[0:5]

array([[ 1.6961288 , -0.58477841, -0.85972695,  0.64686916, -0.55974431],
       [-0.6433592 , -1.14437497, -0.85972695, -1.54590766, -0.69284848],
       [-1.42318853, -0.92053635, -0.85972695, -1.54590766, -0.69284848],
       [-0.6433592 , -0.02518185,  1.16316   ,  0.64686916,  0.24420489],
       [-0.6433592 ,  0.53441472, -0.85972695,  0.64686916, -0.53844764]])

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=4)
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)

Train set: (160, 5) (160,)
Test set: (40, 5) (40,)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
LR = LogisticRegression(C=0.01, solver='liblinear').fit(X_train,y_train)
LR

LogisticRegression(C=0.01, solver='liblinear')

In [ ]:
yhat = LR.predict(X_test)
yhat

array([0., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0., 0., 0., 1., 0., 0., 1.,
       0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
       0., 0., 1., 0., 0., 0.])

In [ ]:
yhat_prob = LR.predict_proba(X_test)
yhat_prob

array([[0.53517253, 0.46482747],
       [0.65798523, 0.34201477],
       [0.54638651, 0.45361349],
       [0.63902852, 0.36097148],
       [0.5085689 , 0.4914311 ],
       [0.60975832, 0.39024168],
       [0.49156548, 0.50843452],
       [0.63957217, 0.36042783],
       [0.4171273 , 0.5828727 ],
       [0.67614425, 0.32385575],
       [0.54274532, 0.45725468],
       [0.61088259, 0.38911741],
       [0.58128639, 0.41871361],
       [0.42050042, 0.57949958],
       [0.67902082, 0.32097918],
       [0.59134172, 0.40865828],
       [0.42050042, 0.57949958],
       [0.54643756, 0.45356244],
       [0.40705556, 0.59294444],
       [0.58239871, 0.41760129],
       [0.54654379, 0.45345621],
       [0.50961884, 0.49038116],
       [0.65483197, 0.34516803],
       [0.51929633, 0.48070367],
       [0.54775908, 0.45224092],
       [0.65750303, 0.34249697],
       [0.52687554, 0.47312446],
       [0.55405375, 0.44594625],
       [0.51565222, 0.48434778],
       [0.6611265 , 0.3388735 ],
       [0.63683708, 0.36316292],
       [0.52832939, 0.47167061],
       [0.49192541, 0.50807459],
       [0.63506434, 0.36493566],
       [0.59146708, 0.40853292],
       [0.53606412, 0.46393588],
       [0.48755541, 0.51244459],
       [0.60444437, 0.39555563],
       [0.68452989, 0.31547011],
       [0.52599864, 0.47400136]])

In [ ]:
a=confusion_matrix(y_test, yhat)
print(a)

[[25  0]
 [ 8  7]]

In [ ]:
acc=a[0,0]+a[1,1]
acc1=a[0,0]+a[1,0]+a[1,1]+a[0,1]

print(acc/acc1)

0.8